<div class="p-4 card w-1/2 shadow-xl bg-neutral-200">
  <div class="card-body">
    <h2 class="card-title">Email: <%= user.email_address %> </h2>
    <p>ID: <%= user.id %></p>
    <p>Role: <%= user.role %></p>
    <p>UUID: <%= user.uuid %></p>
    <p>Created_At: <%= user.created_at %></p>
    <p>Updated_At: <%= user.updated_at %></p>
  </div>
</div>
